.item-t1 {
  background: rgba(0,0,0,0) url(/images/background/Item_Tier_1.png) 50% 50%/cover no-repeat scroll padding-box border-box;
}

.item-t2 {
  background: rgba(0,0,0,0) url(/images/background/Item_Tier_2.png) 50% 50%/cover no-repeat scroll padding-box border-box;
}

.item-t3 {
  background: rgba(0,0,0,0) url(/images/background/Item_Tier_3.png) 50% 50%/cover no-repeat scroll padding-box border-box;
}

.item-t4 {
  background: rgba(0,0,0,0) url(/images/background/Item_Tier_4.png) 50% 50%/cover no-repeat scroll padding-box border-box;
}

.item-t5 {
  background: rgba(0,0,0,0) url(/images/background/Item_Tier_5.png) 50% 50%/cover no-repeat scroll padding-box border-box;
}

.item .inner, .item-nobg .inner {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
table {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.mrfz-wtable {
  margin: 20px 0;
  border-collapse: collapse;
  border: 1px solid var(--theme-border-color);
}
